body{
    background-color: #F2F4F3 !important;
}

.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}

.navbar .navbar-brand {
	font-size: 20px;
	padding-left: 0;
	padding-right: 50px;
}

.navbar .navbar-brand b {
	color: #DD1C1A;
}

.navbar a, .navbar a:active {
	color: #999;
	background: transparent;
}

.navbar .navbar-nav a:hover, .navbar .navbar-nav a:focus {
	color: #DD1C1A !important;
}

.navbar .navbar-nav > a.active, .navbar .navbar-nav.show > a {
	color: #DD1C1A !important;
	background: transparent !important;
}


